@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>updata</title>
</head>
<body>
    <div>


        @if (ViewBag.isSuess == 1)
        {
            @:"添加成功"
        }else
        {
            @:"添加失败"
        }

        
    </div>
</body>
</html>
